<!-- BEGIN: Brand -->
<!--<div class="m-stack__item m-brand">-->
<div class="m-stack m-stack--ver m-stack--general m-stack--inline">
    <div class="m-stack__item m-stack__item--middle m-brand__logo">
        <a target="_blank" class="m-brand__logo-wrapper m-brand__logo_custom">
            <!--  <img alt="" [attr.src]="headerLogo" class="m-brand__logo_custom"> -->
            <img src="assets/images/logo/logo_vlf.png" class="m-brand__logo_custom">
        </a>
    </div>
    <div class="m-stack__item m-stack__item--middle m-brand__tools">
        <h4 class="vf_title">
            ” Serving veterans and their spouses every day..”
        </h4>
        <!-- <div class="m-topbar__userpic m-brand__logo_custom__p " *ngIf="isPartnerLogoAvailable"><img
                [attr.src]="headerPLogo" class="m-brand__logo_partner" (error)="errorCb()" />
        </div> -->
        <!-- begin::Responsive Header Menu Toggler-->
        <!-- <a id="m_aside_header_menu_mobile_toggle" href="javascript:"
            class="m-brand__icon m-brand__toggler m--visible-tablet-and-mobile-inline-block">
            <span></span>
        </a> -->
        <!-- end::Responsive Header Menu Toggler-->
    </div>
</div>
<!-- END: Brand -->