.card{
  border-radius: 25px;
  padding: 17px;
  width: 116px;
  height: 118px;
  border: 2px solid #cecfce;
  align-self: center;
  font-size: 15px;
  font-weight: 400;
}
.padding{
  margin-left: 40px;
}
.center {
  padding: 50px;
}
.icon-height-width{
  height: 60px;
  width: 66px;
  padding-left: 12px;
}
.centre-align {
  font-size: 12px;
  font-family: Calibri;
  text-align: center ;
  color: black;
  padding-top: 2px;
}
.m-pp-subheader {
  color: #043673;
  font-family: Bebas Nuere Regular;
  font-size: 21px;
}

.body-text{
  font-size: 18px;
}
