<m-portlet [options]="{portletHead: false}" [loadingSubject]="loadingSubject" [loading$]="loading$ | async">
    <ng-container mMainPageTitle>
        <mat-horizontal-stepper linear #stepper>
            <mat-step label="Personal Info" completed="false"></mat-step>
            <mat-step label="Business Info" completed="true"></mat-step>
            <mat-step label="Documents" completed="false"></mat-step>
            <mat-step label="Pre-Screen Result" completed="false"></mat-step>
        </mat-horizontal-stepper>
    </ng-container>
    <ng-container mPortletBody>
        <div #mScrollTop class="scrolling-div"></div>
        <div class="m-cs-subheader">
            <div class="mr-auto">
                <h3 class="m-pp-subheader__title title-desktop">
                    The last thing we need, <strong>Grant</strong>, <br>is some information about your business,<br> and
                    then we can show
                    you the
                    results of the pre-screen.
                </h3>
            </div>
        </div>
        <mat-spinner [diameter]="20" *ngIf="loadingSubject | async"></mat-spinner>
        <form (ngSubmit)="f.form.valid" #f="ngForm" class="m-form m-form--group-seperator-dashed" novalidate>
            <div class="m-portlet__foot m-portlet__no-border m-portlet__foot--fit">
                <div class="m-form__group">
                    <div class="row">
                        <div class="col-sm-6 m--margin-bottom-10-mobile">
                            <mat-form-field class="mat-form-field-fluid business-year-label">
                                <input matInput type="text" name="businessName" placeholder="Business Name"
                                    autocomplete="on" [(ngModel)]="business.businessName" #firstName="ngModel"
                                    maxlength="99" required>
                                <mat-error>Business Name is <strong>required.</strong></mat-error>
                            </mat-form-field>
                        </div>
                        <div class="col-sm-6 m--margin-bottom-10-mobile">
                            <mat-form-field class="mat-form-field-fluid business-year-label">
                                <mat-select name="selectedApplicationType" placeholder="Business Type"
                                    [(ngModel)]="business.businessType" required>
                                    <mat-option id="dropdown" value="Corporation">Corporation</mat-option>
                                    <mat-option id="dropdown" value="General Partnership">General Partnership
                                    </mat-option>
                                    <mat-option id="dropdown" value="Limited Liability Company (LLC)">Limited Liability
                                        Company (LLC)</mat-option>
                                    <mat-option id="dropdown" value="Non-Profit">Non-Profit</mat-option>
                                    <mat-option id="dropdown" value="Sole Proprietorship">Sole Proprietorship
                                    </mat-option>
                                    <mat-option id="dropdown" value="General Partnership">General Partnership
                                    </mat-option>
                                </mat-select>
                                <mat-error>Select the Business Type.</mat-error>
                            </mat-form-field>
                        </div>
                    </div>
                </div>

                <div class="m-form__group">
                    <div class="row">
                        <div class="col-sm-5 m--margin-bottom-20-mobile">
                            <mat-form-field class="mat-form-field-fluid business-year-label">
                                <input google-place matInput type="text" name="streetAddress"
                                    placeholder="Business street number and name" [(ngModel)]="address.streetAddress"
                                    #streetAddress="ngModel" (onSelect)="addressSelected($event)" required />
                                <mat-error>Street Address is <strong>required.</strong></mat-error>
                                <mat-hint align="start" class="not-empty-select">Begin typing your Business Address and
                                    edit where necessary
                                </mat-hint>
                            </mat-form-field>
                        </div>
                        <div class="col-sm-3 m--margin-bottom-10-mobile">
                            <mat-form-field class="mat-form-field-fluid business-year-label">
                                <input matInput type="text" name="city" placeholder="City" [(ngModel)]="address.city"
                                    #city="ngModel" required />
                                <mat-error>City is <strong>required.</strong></mat-error>
                            </mat-form-field>
                        </div>
                        <div class="col-sm-2 m--margin-bottom-10-mobile">
                            <mat-form-field class="mat-form-field-fluid business-year-label">
                                <input matInput type="text" name="state" placeholder="State" maxlength="2" minlength="2"
                                    alphabetOnly [(ngModel)]="address.state" #city="ngModel" required />
                                <mat-error>State is <strong>required.</strong></mat-error>
                            </mat-form-field>
                        </div>
                        <div class="col-sm-2 m--margin-bottom-10-mobile">
                            <mat-form-field class="mat-form-field-fluid business-year-label">
                                <input matInput type="tel" name="zipCode" placeholder="Zip" input-num min-max
                                    [(ngModel)]="address.zipCode" #zipCode="ngModel" required />
                                <mat-error *ngIf="!address.zipCode">Zip Code is <strong>required.</strong></mat-error>
                                <mat-error *ngIf="address.zipCode">Enter Valid zip code <strong>number.</strong>
                                </mat-error>
                            </mat-form-field>
                        </div>
                    </div>
                </div>
            </div>
            <div class="m-form__group button-centre-align">
                <mat-bar-button [options]="barButtonOptions" (tsSubmitIfValid)="onSubmit()">
                </mat-bar-button>
            </div>
        </form>
    </ng-container>
</m-portlet>