.m-subheader__daterange-title {
  font-size: 1.2rem;
}

.container {
  height: 200px;
  position: relative;
}

.center {
  padding: 50px;
}

.m-font-style{
  font-family: Bebas Nuere Regular;
  font-size: 18px;
}

#color {
  color: #043673;
  font-family: Bebas Nuere Regular;
  font-size: 18px;
}