  .m-pp-subheader__title {
    color: #043673;
    font-family: Bebas Nuere Regular;
    font-size: 21px;
    text-align: center;
  }
  
  .m-pp-subheader__subtitle {
    color: #043673;
    font-family: Bebas Nuere Regular;
    font-size: 18px;
    text-align: center;
  }
  
  #color {
    color: #043673;
    font-family: Bebas Nuere Regular;
    font-size: 18px;
  }
  .m-pp-subheader__title__content {
    font-family: Bebas Nuere Regular;
    font-size: 18px;
  }
  .button-centre-align {
    font-size: 18px;
    font-family: Calibri;
    text-align: center ;
    color: #878a87;
  }
  .card{
    border-radius: 25px;
    padding: 17px;
    width: 110px;
    height: 106px;
    border: 2px solid;
    align-self: center;
    font-size: 15px;
    font-weight: 400;
  }
  .padding{
    margin-left: 40px;
  }
  .center {
    padding: 78px;
  }
  .icon-height-width{
    height: 50px;
    width: 60px;
    padding-left: 10px;
  }
  .centre-align {
    font-size: 12px;
    font-family: Calibri;
    text-align: center;
    color: black;
    padding-top: 8px;
  }
  .selected {
    border-color: rgba(28,154,214,255);
  }