RewriteEngine On  
  # If an existing asset or directory is requested go to it as it is
  RewriteCond %{DOCUMENT_ROOT}%{REQUEST_URI} -f [OR]
  RewriteCond %{DOCUMENT_ROOT}%{REQUEST_URI} -d
  RewriteRule ^ - [L]

  RewriteRule   "^/document_download.php"  "https://apply.ifs4u.com/document_download.php"  [R,L]
  RewriteRule   "^/your-car-finance-questions-answered"  "https://www.ifsautoloans.com/your-car-finance-questions-answered"  [R,L]
  # If the requested resource doesn't exist, use index.html
  RewriteRule ^ /index.html