<m-portlet [options]="{portletHead: false}" [loadingSubject]="loadingSubject" [loading$]="loading$ | async">
    <ng-container mMainPageTitle>
        <mat-horizontal-stepper [linear]="true" #stepper>
            <mat-step label="Personal Info" completed="true"></mat-step>
            <mat-step label="Business Info" completed="false"></mat-step>
            <mat-step label="Documents" completed="false"></mat-step>
            <mat-step label="Pre-Screen Result" completed="false"></mat-step>
        </mat-horizontal-stepper>
    </ng-container>
    <ng-container mPortletBody>
        <div #mScrollTop class="scrolling-div"></div>
        <div class="m-cs-subheader" *ngIf="currentURL == '/myApp'">
            <div class="mr-auto">
                <h4 class="m-pp-subheader__title">
                    Welcome Back!
                </h4>
                <h4 class="m-pp-subheader__subtitle">
                    Let's find your existing pre-screen application!
                </h4>
            </div>
        </div>
        <mat-spinner [diameter]="20" *ngIf="loadingSubject | async"></mat-spinner>
        <form (ngSubmit)="f.form.valid" #f="ngForm" class="m-form m-form--group-seperator-dashed" novalidate>
            <div class="m-portlet__foot m-portlet__no-border m-portlet__foot--fit">
                <div class="m-form__group">
                    <div class="row">
                        <div class="col-sm-6 m--margin-bottom-10-mobile">
                            <mat-form-field class="mat-form-field-fluid business-year-label">
                                <input matInput #input maxlength="50" type="text" name="lastName"
                                    placeholder="Last Name" alphabetOnly autocomplete="off"
                                    [(ngModel)]="resumeapplication.lastName" #lastName="ngModel" required
                                    [disabled]="(!keyIdentifier.primaryApplicantAdded && !!keyIdentifier.preApprovalApplicationId)">
                                <mat-error>Legal Last Name is <strong>required.</strong></mat-error>
                            </mat-form-field>
                        </div>
                        <div class="col-sm-6 m--margin-bottom-10-mobile">
                            <mat-form-field class="mat-form-field-fluid business-year-label">
                                <input matInput type="text" maxlength="4" minlength="4" name="ssn"
                                    [(ngModel)]="resumeapplication.last4SSN" placeholder="Last 4 digits of your SSN"
                                    required />
                                <mat-error>Your SSN is required.</mat-error>
                            </mat-form-field>
                        </div>
                    </div>
                </div>
                <div class="m-form__group">
                    <div class="row">
                        <div class="col-sm-6 m--margin-bottom-10-mobile">
                            <mat-form-field class="mat-form-field-fluid business-year-label">
                                <input matInput name="email" placeholder="Email" autocomplete="off"
                                    [(ngModel)]="resumeapplication.email" #email="ngModel" min-max
                                    (keydown.space)="$event.preventDefault()" required>
                                <mat-error *ngIf="!resumeapplication.email && !email.hasError('email')">Email is
                                    <strong>
                                        required.
                                    </strong>
                                </mat-error>
                                <mat-error *ngIf="email.hasError('email')">Email is not <strong>valid.</strong>
                                </mat-error>
                                <mat-hint align="start">Please enter a valid Email address</mat-hint>
                            </mat-form-field>
                        </div>
                        <div class="col-sm-6 m--margin-bottom-10-mobile">
                            <mat-form-field class="mat-form-field-fluid business-year-label">
                                <input matInput [min]="minDate" [max]="maxDate" [matDatepicker]="dateOfBirthPicker"
                                    name="dateOfBirth" placeholder="Date of birth (MM/DD/YYYY)" #dateOfBirth="ngModel"
                                    [(ngModel)]="resumeapplication.dob" required min-max>
                                <mat-datepicker-toggle matSuffix [for]="dateOfBirthPicker"></mat-datepicker-toggle>
                                <mat-datepicker #dateOfBirthPicker></mat-datepicker>
                                <mat-error *ngIf="dateOfBirth.hasError('min-max')">You should be 18 years or older
                                </mat-error>
                            </mat-form-field>
                        </div>
                    </div>
                </div>
            </div>
            <div class="m-form__group" *ngIf="errorMessage === true">
                <div class="m-cs-subheader">
                    <h4 class="m--font-danger m-pp-subheader__title__content">
                        Oops! No application found.</h4>
                </div>
                <div class="m-cs-subheader">
                    <div class="center">
                        <h6 class="m-pp-subheader__title__content">Please try our <a href="javascript:" id="color"
                                (click)="homePage()">OLA portal</a> to find your application.</h6>
                    </div>
                </div>
            </div>
            <div class="m-form__group button-centre-align">
                <mat-bar-button [options]="barButtonOptions" (tsSubmitIfValid)="onSubmit()">
                </mat-bar-button>
            </div>
        </form>
    </ng-container>
</m-portlet>